<div id="forum">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #182035 !important;">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand" href="/">
                Ask an Engineer
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/forum" class="nav-link">Forum</a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </nav>
<header class="d-header clearfix">
  <div class="wrap">
    <div class="container">
    <div class="contents clearfix">
      <div class="title">
        <h4>Welcome <span class="profile-name"></span></h4>
      </div>
        <div class="dropdown">
          <div class="newPost">
            <button class="btn btn-light" id="newPostButton">New Post</button>
          </div>
          {{!-- <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Date</a>
            <a class="dropdown-item" href="#">Relevant</a>
          </div> --}}
        </div>
    </div>
    </div>
  </div>
</header>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3">
      <!-- Search Bar -->
      <form class="form-inline my-2 my-lg-0" id="search">
        <input class="form-control mr-sm-2" id="keyword" type="search" placeholder="Keyword" aria-label="Search">
        <button  class="btn btn-light" type="button">Search</button>
      </form>
      <br>
      <!-- Categories -->
      <h5>Category</h5>
      <div class="checkbox">
        <label><input type="checkbox" value="">Electrical</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Chemical</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Mechanical</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Civil</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Petroleum</label>
      </div>
      <div class="checkbox">
          <label><input type="checkbox" value="">Other</label>
      </div>
      <br>
    </div>
    <div class="col-md-9" id="newPostForm" style="display:none">
                  <form id="post">
                <div class="form-group">
                  <label for="title">Title:</label>
                  <input placeholder="Post Title" type="text" class="form-control" id="title">
                  <br />
                  <label for="body">Body:</label>
                  <textarea placeholder="Describe your problem here." class="form-control" rows="8" id="body"></textarea>
                  <div class="form-group">
                    <label for="category">Select type:</label>
                    <select class="custom-select" id="typeOf">
                      <option>Electrical</option>
                      <option>Chemical</option>
                      <option>Mechanical</option>
                      <option>Civil</option>
                      <option>Petroleum</option>
                      <option>Other</option>
                    </select>
                  </div>
                  <br />
                  <button type="submit" class="btn btn-light submit">Create Post</button>
                </div>
              </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9" id="postSection">
      {{#each post}}
      <div class="card" data-post={{id}} data-userId={{UserId}}>
        <div class="card-header"></div>
        <div class="card-body forum-container user-posts">
          
          <h5 class="card-title">Post by:<span> {{User.name}}</span> </h5>
          
          <div class="postId">
          <p><strong>ID</strong>:<span> {{id}}</span></p>
          </div>
          <div class="postTitle">
          <p><strong>Title</strong>:<span> {{title}}</span></p>
          </div>
          <div class="postBody">
          <p><strong>Body:</strong><span> {{body}}</span></p>
          </div>
          <div class="postType">
          <p><strong>Category:</strong><span> {{typeOf}}</span></p>
          </div>
            <a href="/thread/{{id}}"><button type="button" class="btn btn-light commentBtn" >
              View Threads
            </button></a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
<div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="thread" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Thread</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <input>
                <textarea placeholder="Leave Comment" class="form-control" rows="5" id="body"></textarea>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-light">Save Comment</button>
            </div>
          </div>
        </div>
    </div> 
</div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  let userId;
  let titleInput = $("#title");
  let bodyInput = $("#body");
  let typeOfInput = $("#typeOf");
  let searchWord = $("#keyword");
  // This does a GET request to figure out which user is logged in
  // and updates the HTML on the page
  $.get("/api/user_data").then(function(data) {
    userId = data.id
    $(".profile-name").text(data.name);
  });

  $("#newPostButton").on("click", function(){
    $("#newPostForm").toggle();
  })

  $("#search").on("submit", handleSearch);

  function handleSearch(event){
    event.preventDefault();
    
    if(!searchWord.val().trim()){
      return;
    };
    $("#postSection").empty();
    searchByWord(searchWord);
  };

  function searchByWord(query){
    $.get("/api/posts/search" + query).then(function(data){
      {{!-- clear page for results --}}
      console.log(data)
    });
  };

  function searchByType(query){
    $.get("/api/posts/category"+ query).then(function(data){
      {{!-- clear page for results, add clear search button--}}
      console.log(data)
    });
  };

  $("#post").on("submit", handleFormSubmit);

  function handleFormSubmit(event){
    event.preventDefault();
     // Wont submit the post if we are missing a body, title, or author
    if (!titleInput.val().trim() || !bodyInput.val().trim() || !userId) {
      return;
    }
    
   let newPost = {
      title: titleInput
        .val()
        .trim(),
      body: bodyInput
        .val()
        .trim(),
      typeOf: typeOfInput.val(),
      UserId: userId
    };
    
    submitPost(newPost);
  };

  function submitPost(post){
    $.post("/api/post", post, function(){
      window.location.href = "/forum";
    });
  };



});
</script>